@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600&display=swap');

/* Common styles */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px;
    font-weight: bolder;
}


/* Banner part Styles */
.banner-container {
    width: 1320px;
    height: 640x;
    margin: 40px auto;
    display: flex;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin-bottom: 120px;
}

.banner-heading {
    margin-top: 80px;
    width: 520px;
    height: 424px;
    margin-left: 80px;
    margin-right: 40px;
}

.banner-heading h1 {
    margin-bottom: 0;
}

.banner-heading p {
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 40px;
}

.button-watch {
    width: 180px;
    height: 50px;
    background-color: #DD0000;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 6px 8px;
    font-size: 20px;
    border-radius: 5px;
}

.banner-container:hover .button-watch {
    animation: buttons 10s ease-in 0s 10;
}

@keyframes buttons {
    0% {
        background-color: #DD0000;
    }

    20% {
        background-color: #3d0505;
        transform: scale(0.5, 0.5);
    }

    80% {
        background-color: #0c0202;
        color: #ffffff;
    }
}

.button-watch span {
    margin-left: auto;
}

.button-watch i {
    margin-left: 0px;
    margin-right: auto;
}

.banner-heading a {
    text-decoration: none;
}

.banner-image {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 20px;
    width: 581px;
    height: 613px;
    background-image: url(../assets/Banner_Image.png);
    background-size: cover;
    background-position: center;
}


/* Middle Part Buttons + Articles Styles */
.Middle-container {
    width: 1320px;
    height: 640x;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 313px 1fr;
    gap: 20px;
    color: white;
}

#active {
    background-color: #DD0000;
}

#active a {
    color: #ffffff;
}

.left-side-buttons {
    width: 313px;
    height: 313px;
    background-color: #0c0202;
    color: white;
    border-radius: 12px;
    position: sticky;
}

#fixed {
    position: fixed;
    left: 10px;
    top: 320px;
}

.btn-1 {
    width: 224px;
    height: 64px;
    margin: 25px 44px;
    border-radius: 8px;
    background-color: #ffffff;
}

.btn-1 a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    padding: 9px 12px;

}

.btn-1:last-child,
.btn-1:nth-child(2) {
    margin-top: 0;
}

/* Blog Container styles */
.blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1.8fr);
    grid-row-gap: 20px;
}

.blog-1 {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    width: 280px;
    box-shadow: 0 0 0 0.4px rgb(29, 8, 8);
}

.blog-image img {
    width: 280px;
    height: 160px;
}

.blog-info {
    margin-left: 16px;
    margin-top: 12px;
}

.blog-info a {
    background-color: #ffffff;
    color: #1D1D1D;
    border: 2px solid #1D1D1D;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
}

.blog-info h4 {
    color: #1D1D1D;
}

.blog-details {
    display: flex;
    gap: 30px;
    font-size: 16px;
    color: #1D1D1D;
}

.blog-details i {
    margin-right: 10px;
}

.button-view {
    text-decoration: none;
    color: #ffffff;
    background-color: #DD0000;
    padding: 10px 20px;
    text-align: center;
    margin-left: 500px;
    display: none;
    width: 200px;
}

/* Footer styles */
footer {
    width: 100%;
    background-color: #0c0202;
    color: #ffffff;
    margin-top: 100px;
}

.footer-title {
    margin-top: 100px;
    padding: 20px 50px;
}

footer h2 {
    text-align: center;
    margin-top: 100px;
    font-size: 35px;
}

footer hr {
    width: 80%;
    height: 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-nav {
    display: flex;
    margin-left: 20%;
    padding-top: 20px;
    padding-bottom: 30px;
}

nav > ul > li {
    list-style-type: none;
    display: inline;
    float: left;
    margin-bottom: 100px;
}

nav > ul > li > a {
    text-decoration: none;
    color: #B9B9B9;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

/* Media Query */
@media only screen and (max-width: 688px) {
    .banner-container {
        width: 688px;
        height: 640x;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        background-color: black;
        color: white;
        border-radius: 25px;
        margin-bottom: 40px;
    }

    .banner-container h1 {
        font-size: 40px;
    }

    .button-watch {
        width: 180px;
        height: 50px;
        background-color: #DD0000;
        color: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding: 6px 8px;
        font-size: 20px;
        border-radius: 5px;
        margin-left: 27%;
        margin-right: 25%;
    }

    .banner-image {
        margin-top: 50px;
        margin-left: 40px;
        margin-right: 20px;
        width: 581px;
        height: 613px;
        background-image: url(../assets/Banner_Image.png);
        background-size: cover;
        background-position: center;
    }

    .Middle-container {
        width: 100%;
        height: 640x;
        margin: 0px 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        color: white;
    }

    .left-side-buttons {
        width: 413px;
        height: 313px;
        background-color: #ffffff;
        color: rgb(19, 3, 3);
        border-radius: 12px;
        margin: 0px 26%;
    }

    .btn-1 {
        width: 224px;
        height: 64px;
        margin: 25px 44px;
        border-radius: 12px;
        border: 1px solid #a8a5a5;
        background-color: #ffffff;
    }

    .blog-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
        width: 100%;
    }


    .blog-1 {
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        width: 80%;
        box-shadow: 0 0 0 0.4px rgb(29, 8, 8);
        margin: 10px auto;
    }

    .blog-image img {
        width: 100%;
        height: 280px;
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
        margin-left: 30%;
        /* margin-left: 20%; */
        /* padding-top: 20px;
            padding-bottom: 30px; */
    }

    nav > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

    }

    nav > ul > li {
        list-style-type: none;
        float: center;
        padding: 0;
        width: 290px;
        display: block;
        margin-bottom: 2px;
    }

    nav > ul > li > a {
        display: block;
        text-decoration: none;
        color: #B9B9B9;
        /* padding: 0px 20px; */
        text-align: center;
        font-size: 16px;
    }

}


/* tablet */
@media only screen and (min-width:689px) and (max-width:992px) {
    .Middle-container {
        width: 580px;
        height: 640x;
        margin: 10px 90px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        color: white;
    }

    .left-side-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100px;
        border-radius: 12px;
        margin-left: 0;
        margin-top: 10px;
        background-color: #ffffff;
    }

    .btn-1 {
        width: 120px;
        height: 60px;
        border-radius: 8px;
        background-color: #ffffff;
    }

    .btn-1 a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 700;
        display: inline-block;
        text-align: center;
    }

    .blog-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
        width: 100%;
    }

    .button-view {
        text-decoration: none;
        color: #ffffff;
        background-color: #DD0000;
        padding: 10px 20px;
        text-align: center;
        margin-left: 30%;
        width: 200px;
        display: block;
    }

}